.editor {
  background-color: #272822;
  color: #fff;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 365px;
}

.editor .ace {
  flex-basis: 75%;
}

.editor .fileList {
  --spacing: 1rem;
  --radius: 7px;
  flex-basis: 25%;
  padding: 0.5rem;
  overflow-y: auto;
}

.editor .fileList ul {
  margin: 0;
  padding: 0;
}

.editor .fileList li {
  cursor: pointer;
  padding: 0.25rem 0.5rem;

  &:hover {
    background-color: #222;
  }
}

.editor .fileList li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
  white-space: nowrap;
}

.editor .fileList ul li {
  border-left: 2px solid #ddd;
}

.editor .fileList ul li:last-child {
  border-color: transparent;
}

.editor .fileList ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -4);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: solid #ddd;
  border-width: 0 0 2px 2px;
}

.editor .fileList summary {
  display: block;
  cursor: pointer;
}

.editor .fileList summary::marker,
.editor .fileList summary::-webkit-details-marker {
  display: none;
}

.editor .fileList summary:focus {
  outline: none;
}

.editor .fileList summary:focus-visible {
  outline: 1px dotted #000;
}

.editor .fileList li::after,
.editor .fileList summary::before {
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  background: #ddd;
}

.editor .fileList summary::before {
  content: ">";
  z-index: 1;
  background-color: #272822;
  color: #fff;
  line-height: calc(2 * var(--radius) - 2px);
  text-align: center;
  left: 5px;
  top: 7px;
}

.editor .fileList details[open] > summary::before {
  // content : '−';
  transform: rotate(90deg);
}
