
.interface {
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  user-select: none;
  height: 435px;
}

.interface img,
.interface span,
.interface webaudio-keyboard,
.interface webaudio-knob,
.interface webaudio-slider,
.interface webaudio-switch {
  position: absolute;
  // transform: translate(-50%, -50%); 
}

.interface img {
  z-index: 1;
}

.interface webaudio-keyboard,
.interface webaudio-knob,
.interface webaudio-slider,
.interface webaudio-switch {
  z-index: 2;
}

.interface span {
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.interface webaudio-keyboard {
  left: 0;
  top: 359px;
}

.tabs {
  align-content: flex-start;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.radiotab {
  position: absolute;
  opacity: 0;
}

.label {
  width: 100%;
  cursor: pointer;
  padding: .5rem 1rem;
  text-align: center;
}

.label:hover {
  background-color: #222;
}

.radiotab:checked + .label {
  background-color: #333;
}

.panel {
  background-color: #333;
  position: relative;
  display: none;
  width: 100%;
}

.radiotab:checked + .label + .panel {
  display: block;
}

@media (min-width: 600px) {
  .panel {
    order: 99;
  }
  .label {
    width: auto;
  }
}
